#main {
    background-color: chartreuse;

}
#nav{
    list-style-type: none;
    background-color: blue;
}
li{
    display: inline-block;
}

button{
    background-color: yellow;
    color: fuchsia;
}

button:hover{
    background-color: darkorchid;
    color: purple;
}

.box img {
    -webkit-transition:3s;
}
.box img.clicked{
    margin-left:50%;
}

#saxmen{
    background-color: darkblue;
}

#rightGuy{
    float: right;
    width: 400px;
    height: 400px;
}
#leftGuy{
    float: left;
    width: 400px;
    height: 400px;
}